
body{
  overflow: scroll;
  min-height: 556px;
  min-width: 924px;
      
  }
  
  .container {
    border: 3px solid #000;
    position: relative;
    min-height: 556px;
    min-width: 924px;
  }
  
  .container * {
    position: absolute;
    display: block; 
  }
  #Carrito{
    width: 90px;
    height: 70px;   

  }