<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container col-8">
        <h1 class="text-center">Don Baraton</h1>
        <div class="jumbotron">
            <div class="row">
                <div class="col-4">
                    <div class=" text-center form-grop">
                        <label class="text-center" for="">Ingrese el Valor del Traje:</label>
                        <input id="inpCostoTraje" type="number" class="form-control" placeholder="Pesos">
                    </div>
                </div>    
            </div>
            <div class="row">
                <div class="col-12">
                    <button id="btnConsultar" class=" mt-3 btn btn-outline-primary btn-block">Consultar Descuento</button>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div id="PrintAlert" class=" text-center mt-3 alert alert-info" role="alert">Tu Descuento
                    </div>

                </div>
            </div>
        </div>
    </div>




    <script src="./../js/app.js"></script>
</body>

</html>