<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      <h1 class="text-center">Area de Circulo</h1>
      <div class="container">
      <div class="row">
          <div class="col-6">
              <div class="form-group col-6" >
                  <label for="">Ingresa el Valor del Radio</label>
                  <input  id="InpRadio" class="form-control" type="number" name="" id="">
              </div>
          </div>
      </div>

      <div class="row">
          <div class="col-6">
              <button id="btnCalcular" class="btn btn-outline-info btn-block" role="alert"> Calcular Area</button>
          </div>
      </div>
      <div id="AreaCirculo" class=" col-6 text-center alert alert-danger mt-3" role="alert"></div>
    </div>

    <script src="./../js/app.js"></script>
  </body>
</html>