<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container col-8">
        <h1 class="text-center">Calculo de Edades</h1>
        <div class="jumbotron">
            <div class="row">
                <div class="col-3">
                    <div class=" text-center form-grop">
                        <label class="text-center" for="">Ingresa Nombre</label>
                        <input id="inpNombre1" type="text" class="form-control" placeholder="Hermano 1">
                    </div>
                </div>
                <div class="col-3">
                    <div class=" text-center form-grop">
                        <label class="text-center" for="">Ingresa su Edad</label>
                        <input id="inpEdad1" type="number" class="form-control" placeholder="Edad en Años">
                    </div>
                </div>
                <div class="col-3">
                    <div class=" text-center form-grop">
                        <label class="text-center" for="">Ingresa Nombre</label>
                        <input id="inpNombre2" type="text" class="form-control" placeholder="Hermano 2">
                    </div>
                </div>
                <div class="col-3">
                    <div class=" text-center form-grop">
                        <label class="text-center" for="">Ingresa su Edad</label>
                        <input id="inpEdad2" type="number" class="form-control" placeholder="Edad en Años">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button id="btnDifEdad" class=" mt-3 btn btn-outline-primary btn-block"> Calcular Diferencia de
                        Edades</button>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div id="PrintAlert" class=" text-center mt-3 alert alert-info" role="alert"> Diferencia de Edades
                    </div>

                </div>
            </div>
        </div>
    </div>




    <script src="./../js/app.js"></script>
</body>

</html>