<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      <h1 class="text-center">Calcula el Area de Un Triangulo</h1>
      <div class="container col-6" >
          <div class="jumbostron">
              <div class="row col-12" >
                      <div class="form-group col-6">
                          <label for="">Valor de la Base</label>
                          <input type="number" class="form-control" name="" id="ValorBase">
                      </div>

                      <div class="form-group col-6">
                          <label for="">Valor de la Altura</label>
                          <input type="number" class="form-control" name="" id="ValorAltura">
                      </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button id="btnCalcular" class="btn btn-outline-success btn-block">Calcular el Area del Triangulo</button>
                    </div>
                </div>
                <div id="AreaTriangulo" class="text-center alert alert-danger mt-3">
                    Area del Triangulo
                </div>
      </div>


    <script src="./../js/app.js"></script>
  </body>

</html>