<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container col-8">
        <h1 class="text-center">INCENTIVOS</h1>
        <div class="jumbotron">
            <div class="row">
                <div class="col-3">
                    <div class=" text-center form-grop">
                        <label class="text-center" for="">Lunes</label>
                        <input id="inpLunes" type="number" class="form-control" placeholder="Unidades Producidas">
                    </div>
                </div>
                <div class="col-3">
                    <div class=" text-center form-grop">
                        <label class="text-center" for="">Martes</label>
                        <input id="inpMartes" type="number" class="form-control" placeholder="Unidades Producidas">
                    </div>
                </div>
                <div class="col-3">
                    <div class=" text-center form-grop">
                        <label class="text-center" for="">Miercoles</label>
                        <input id="inpMiercoles" type="number" class="form-control" placeholder="Unidades Producidas">
                    </div>
                </div>
                <div class="col-3">
                    <div class=" text-center form-grop">
                        <label class="text-center" for="">Jueves</label>
                        <input id="inpJueves" type="number" class="form-control" placeholder="Unidades Producidas">
                    </div>
                </div>
                <div class="col-3">
                    <div class=" text-center form-grop">
                        <label class="text-center" for="">Viernes</label>
                        <input id="inpViernes" type="number" class="form-control" placeholder="Unidades Producidas">
                    </div>
                </div>
                <div class="col-3">
                    <div class=" text-center form-grop">
                        <label class="text-center" for="">Sadado</label>
                        <input id="inpSabado" type="number" class="form-control" placeholder="Unidades Producidas">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button id="btnUtilidad" class=" mt-3 btn btn-outline-primary btn-block">Consultar Utilidad</button>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div id="PrintAlert" class=" text-center mt-3 alert alert-info" role="alert">Utilidad 
                    </div>

                </div>
            </div>
        </div>
    </div>




    <script src="./../js/app.js"></script>
</body>

</html>