<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>

      <div class="container col-6">
          <h1 class="text-center">Convertidor de pulgadas a metros</h1>
          <div class="jumbotron">
              <div class="row">
                  <div class="col-4">
                      <label for="">Cantidad en pulgadas</label>
                      <input id="inpCantidadInch" type="number">
                  </div>
                  
                  <div class="col-12">
                      <button id="btnConvertidor" class="mt-3 col-12 btn btn-outline-warning btn-block">Convertir a Metros</button>
                  </div>
                  <div class="col-12">
                    <label id="ImprimirMetros" class=" mt-3 col-12 text-center alert alert-warning" role="alert" for="">Cantidad en Metros</label>
                </div>
              </div>
          </div>
      </div>
      
    <script src="./../js/app.js"></script>
  </body>
</html>