body {
    min-height: 75rem;
    padding-top: 4.5rem;
  }
.bg-green{
    background:#152614;
     /* #152614 */
    /* #152614 */
    /* #2a7221 */
}
.img{
    width: 100vw;
    height: 100vh;
}

.navbar-dark .navbar-nav .active>.nav-link{
    color: #ff3b01;
    font-family: 'Roboto', sans-serif;
    justify-content: flex-end;
    font-weight: bold;

}
.navbar-expand-md .navbar-collapse {
    /* width: 0; */
    height: 0px;
    background-color: springgreen;
}
.navbar-dark .navbar-nav{
    width: 80vw;
    /* background-color:greenyellow; */
    position: fixed;
    left: 200px;
    justify-content: space-around;
}
.carrito{
    color: greenyellow;
    
}

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}



/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-12 {
  height: 100vh;
  margin-bottom: 1.5rem;
  text-align: center;
  /* background-color: firebrick; */
}
.marketing h2 {
  font-weight: 400;
  text-align: center;
  font-family:'Roboto', sans-serif;
  color: #00bc0c;
  font-weight: bold;
  /* background-color: royalblue; */
}
.marketing .col-lg-12 p {
  margin-right: .75rem;
  margin-left: .75rem;
  text-align: justify;
  font-family:'Roboto', sans-serif;
  /* background-color: red; */
}
.form-inline{
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* background: red; */
  
}
.btn-orange{
  background: #ff3b01;
  font-weight: bold;
  color: #ffffff;
}
.precio-productos{
  font-weight: bold;
}
.bg-yelow{
  background-color: #152614;
}
.text-green{
  color: #00bc0c;
}
.direccion{
  color: #ff3b01;
  text-align: justify;
}
