body {
    min-height: 75rem;
    padding-top: 4.5rem;
  }
.bg-green{
    background: #1e441e;
}
.img{
    width: 100vw;
    height: 100vh;
}

.navbar-dark .navbar-nav .active>.nav-link{
    color: #ff3b01;
    font-family: 'Roboto', sans-serif;
    justify-content: flex-end;
}
.navbar-expand-md .navbar-collapse {
    /* width: 0; */
    height: 0px;
    background-color: springgreen;
}
.navbar-dark .navbar-nav{
    width: 80vw;
    /* background-color:greenyellow; */
    position: fixed;
    left: 200px;
    justify-content: space-around;
}
.carrito{
    color: greenyellow;
}
