<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container col-8">
        <h1 class="text-center">Dias de la Semana</h1>
        <div class="jumbotron">
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label class="text-center" for="inpTipo">Numero</label>
                        <select name="" id="inpNumero">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                        </select>
                    </div>
                </div>                        
            </div>
            <div class="row">
                <div class="col-12">
                    <button id="btnConsultar" class=" mt-3 btn btn-outline-primary btn-block">Consultar Dia</button>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div id="PrintAlert" class=" text-center mt-3 alert alert-info" role="alert">
                    </div>

                </div>
            </div>
        </div>
    </div>




    <script src="./../js/app.js"></script>
</body>

</html>